In [3]:
import os

import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

In [4]:
os.listdir()

['employement_rate_aged_15_64.csv',
 'Zips',
 '.ipynb_checkpoints',
 'GDP.csv',
 'data_exp.ipynb',
 'Pop_Growth_USA.csv',
 'Housing_units.csv',
 'unemployement_rate.csv',
 'PPI_Transport_warehouse.csv',
 'consumer_sentiment.csv',
 'CSUSHPISA.csv',
 'Mortgage_rate.csv',
 'Unemp_rate.csv',
 'New_privately_owned_housing_units.csv',
 'Working_age_population.csv',
 'PPI_Building.csv']

In [28]:
df_emp_rate = pd.read_csv('employement_rate_aged_15_64.csv')

df_gdp = pd.read_csv('GDP.csv')

df_pop_growth = pd.read_csv('Pop_Growth_USA.csv')

df_housing_units = pd.read_csv('Housing_units.csv')

df_unemp_rate = pd.read_csv('Unemp_rate.csv')

df_ppi_trans = pd.read_csv('PPI_Transport_warehouse.csv')

df_consumer_sentiment = pd.read_csv('consumer_sentiment.csv')

#df_consumer_sentiment.reset_index(inplace=True)

#df_cons_senti = df_consumer_sentiment[['level_1' ,'level_0', 'level_2']][1:]

df_Mortgage_rate = pd.read_csv('Mortgage_rate.csv')

df_new_owned_housing_units = pd.read_csv('New_privately_owned_housing_units.csv')

df_working_age_pop = pd.read_csv('Working_age_population.csv')

df_ppi_building = pd.read_csv('PPI_Building.csv')

df_target = pd.read_csv('CSUSHPISA.csv')[:]

In [45]:
for i in [df_emp_rate , df_gdp , df_pop_growth , df_housing_units , df_unemp_rate , df_ppi_trans , df_consumer_sentiment , df_Mortgage_rate , df_new_owned_housing_units , df_working_age_pop , df_ppi_building , df_target]:
    print(i.shape)

(260, 2)
(86, 2)
(62, 2)
(85, 2)
(260, 2)
(201, 2)
(261, 1)
(260, 2)
(260, 2)
(23, 2)
(237, 2)
(273, 2)

In [35]:
len(df_emp_rate)

260

In [49]:
#df_consumer_sentiment.reset_index(inplace=True)

In [50]:
def interpolate_quarterly_to_monthly(quarterly_data):
    
    quarterly_data.index = pd.to_datetime(quarterly_data.index)
    
    # Resample the data to monthly frequency and perform linear interpolation
    monthly_data = quarterly_data.resample('M').interpolate(method='linear')
    
    # Reset the index to have the "DATE" column back in the DataFrame
    monthly_data.reset_index(inplace=True)
    
    return monthly_data

In [51]:
df_consumer_sentiment

    level_0 level_1 level_2  Table 1: The Index of Consumer Sentiment
0     Month    Year   Index                                       NaN
1         1    2002      93                                       NaN
2         2    2002    90.7                                       NaN
3         3    2002    95.7                                       NaN
4         4    2002      93                                       NaN
..      ...     ...     ...                                       ...
256       4    2023    63.5                                       NaN
257       5    2023    59.2                                       NaN
258       6    2023    64.4                                       NaN
259       7    2023    71.6                                       NaN
260       8    2023    69.5                                       NaN

[261 rows x 4 columns]

In [55]:
#df_cons_senti = df_consumer_sentiment[['level_1' ,'level_0', 'level_2']][1:]